[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/pugixml"]
	path = vendor/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "vendor/openvr"]
	path = vendor/openvr
	url = https://github.com/ValveSoftware/openvr.git
